// clang-format off
#define CONFIG_WIRELESS
#define ZMK_BASE_LAYER(name, LT, RT, LM, RM, LB, RB, LH, RH)                                      \
    ZMK_LAYER(                                                                                    \
        name,                                                                                     \
        &kp F1    &kp F2 &kp F3 &kp F4 &kp F5               &kp F6 &kp GRAVE &kp F8 &kp F9 &kp F10   \
        &kp EQUAL &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS \
        &kp TAB              LT                                            RT           &kp SLASH  \
        &kp ESC              LM                                            RM           &sk LCTRL     \
        &kp GRAVE            LB &keep RETURN  &kp SPACE  &kp SPACE  &none  &none &key_repeat    RB  &sk LALT     \
                                &sk LSHFT  &kp BSPC &kp MINUS                                                \
        &kp LEFT  &kp RIGHT  LH &kp SPACE                             &none    RH &kp DOWN &kp UP  \
                                                     &kp LEFT_BRACKET  &kp PG_DOWN &kp PG_UP)

#include "zmk-helpers/key-labels/glove80.h"
#include "base.keymap"

#define X_MB    &kp RETURN &sl NAV &sl FN       &none &none &key_repeat
#define X_RB    &sk LALT
// #define X_RB    &sk LGUI // Me: Could remove cmd through Karabiner softwar remap of all possible cmd to ctrl

#define X_LH    &sk LALT &kp BSPC &kp MINUS &kp LEFT &kp RIGHT
#define X_MH    &kp PG_UP &kp PG_DN
#define X_RH    &kp DOWN &kp UP &kp LEFT_BRACKET &kp PG_DN &kp PG_UP

/* activate bluetooth */
#define CONFIG_WIRELESS 1

/* source the main keymap */
#include "base.keymap"

